@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}

:root {
  --white: #FFF;
  --whitesmoke: #F9F9F9;
  --light-grey: #ECECEC;
  --grey: #C4C4C4;
  --medium-grey: #A7A7A7;
  --deep-grey: #343434;
  --black: #000000;
  --blue: #1B77F3;
  --red: #CF3C3F;
  --green: #0F780F;
}

main{
    display: flex;
}

.login {
    width: 100%;
    height: 100vh;
    max-width: 400px;
    padding: clamp(35px, 8%, 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-riot{
    width: 120px;
    margin-bottom: 20px;
}

.login_title{
    font-size: 24px;
    color: var(--deep-grey);
    margin-bottom: 20px;
}

.usuario_label{
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    font-size: 14px;
    font-weight: 600;
    color: var(--deep-grey);
    background-color: var(--light-grey);
    border: 2px solid rgba(0, 0, 0, 0) ;
    outline: none;
    border-radius: 5px;
    padding: 25px 10px 10px;
}

input:focus {
    background-color: var(--whitesmoke);
    border: 2px solid var(--deep-grey);
}

.usuario_label span {
    font-size: 13px;
    font-weight: 700;
    color: var(--medium-grey);
    position: absolute;
    text-transform: uppercase;
    cursor: text;
    margin: 20px;
    transition: all 200ms ease;
}

.usuario_label .span-active {
    font-size: 0.7em;
    margin: 8px 10px;
}

.login_icons{
    width: 100%;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.login_icons img{
    width: 15px;
}

.icon_button{
    width: 25%;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.login_icons .icon_button:nth-child(1){
    background-color: var(--blue);
}

.login_icons .icon_button:nth-child(2){
    background-color: var(--white);
}

.login_icons .icon_button:nth-child(3){
    background-color: var(--black);
}

.login_icons .icon_button:nth-child(4){
    background-color: var(--green);
}

.usuario_label--checkbox{
   width: 100%;
   margin: 15px 0 50px;
   font-size: 14px;
   font-weight: 500;
   display: flex;
   align-items: center;
}

.input--checkbox{
    width: 15px;
    height: 15px;
    background-color: var(--light-grey);
    margin-right: 8px;
    border-radius: 3px;
}

.input--checkbox:checked {
    background-color: var(--red);
}

.login-button{
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid var(--whitesmoke);
    background-color: var(--light-grey);
    cursor: pointer;
}

.login-button:disabled {
    background-color: var(--light-grey);
    border: none;
}

.login-button:hover {
    border: 1px solid var(--medium-grey);
}
.login-button img{
    width: 100%;
    height: 100%;
}

.login_link{
    width: 100%;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 5px;
    color: var(--medium-grey);
}

.login_link:hover{
    color: var(--deep-grey);
}

.wallpaper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1B77F3;
}

.wallpaper img {
    width: 100%;
    height: 100%;
}


@media (max-width:850px) {

    main{
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .login{
        max-width: 600px;
        height: 70vh;
        padding: 20px;
    }

    .logo-riot{
        width: 300px;
    }
    
    .login_title{
        font-size: 40px;
    }

    .input {
        font-size: 25px;
    }

    .usuario_label span {
        font-size: 22px;
    }

    .icon_button{
        height: 50px;
    }

    .login_icons img{
        width: 30px;
    }

    .usuario_label--checkbox{
        font-size: 22px;
    }

    .input--checkbox{
        width: 20px;
        height: 20px;
    }

    .login-button{
        width: 70px;
        height: 70px;
    }
    .wallpaper{
        display: none;
    }

    .login_link{
        font-size: 18px;
    }

}

@media (max-width:500px) {

    .login{
        max-width: 350px;
        height: 90vh;
        padding: 20px;
    }

    .logo-riot{
        width: 200px;
    }
    
    .login_title{
        font-size: 30px;
    }

    .input {
        font-size: 16px;
    }

    .usuario_label span {
        font-size: 16px;
    }

    .icon_button{
        height: 30px;
    }

    .login_icons img{
        width: 20px;
    }

    .usuario_label--checkbox{
        margin-top: 28px;
        font-size: 22px;
    }

    .input--checkbox{
        width: 20px;
        height: 20px;
    }

    .login-button{
        width: 60px;
        height: 60px;
    }
    .wallpaper{
        display: none;
    }

    .login_link{
        font-size: 18px;
    }
}